.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.profileCard {
  display: flex;
  align-items: top;
  justify-content: space-between; /* Espacia elementos a los extremos */
  background-color: #bbbbbb;
  width: 80%;
  height: 30%;
  margin-left: 30px;
  padding: 30px;
  border-radius: 10px;
  color: white;
  transition: all 0.2s;
  position: relative;
}

.profileCard:hover{
  transform: scale(1.02);
}

.buttonContainer {
  position: absolute; /* Posiciona respecto al contenedor .profileCard */
  top: 170px; /* Distancia desde arriba */
  right: 60px; /* Distancia desde la derecha */
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden; /* Recorta la imagen para que sea circular */
  margin-right: 20px;
  background-color: #dcdcdc;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

.profileInfo {
  flex: 1;
}

.name {
  margin: 0;
  font-size: 2.7rem;
  font-weight: bold;
}

.email,
.phone,
.description {
  font-size: 20px;
  margin-top: 10px;
}

.icon svg {
  width: 1.2rem; /* Tamaño estándar para íconos */
  height: 1.2rem;
  color: #f1f1f1; /* Color blanco */
}

.publishButton svg {
  width: 1.3rem; /* Ícono ligeramente más grande para el botón */
  height: 1.3rem;
}

.editIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ff4500;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.publishButton {
  background-color: #792424;
  color: white;
  border: none;
  padding: 10px 20px;
  max-width: 300px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.publishButton span {
  margin-right: 8px;
}

.publishButton:hover {
  background-color: #a52a2a;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    font-family: Arial, sans-serif;
  }
  .profileCard {
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    background-color: #9e9e9e;
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    color: white;
    position: relative;
  }

  .avatar {
    width: 80px;
    height: 80px;
    background-color: #dcdcdc;
    border-radius: 50%;
  }

  .profileInfo {
    flex: 1;
  }

  .name {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .email,
  .phone,
  .description {
    font-size: 15px;
    margin-top: 5px;
  }

  .buttonContainer {
    margin-top: 20px;
    position: static;

  }

  .publishButton {
    background-color: #792424;
    color: white;
    border: none;
    padding: 10px 20px;
    max-width: 300px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}
