.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.container header{
  background-color: red;
  width: 100%;
}


.seccionesHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0 1rem;
  list-style: none;
}

/* .seccionesHeader */