.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container header{
  /* background-color: red; */
  width: 100%;
}


.seccionesHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0 1rem;
  list-style: none;
}

/* .seccionesHeader */